#### Author: Meet K Sahni

#### In this notebook:
a) Netflix, DisneyPlus and Crackle csv files are read into a dataframe.
b) The dataframes are checked for duplicates and IMDB_IDs are stored in respective lists (i.e. Netflix, DisneyPlus and Crackle).
c) Each list is then used to create a Dictionary with corresponding Source/platform ids.
d) The dictionaries are used create 3 source/platform dataframes (one for each source).
e) The dataframes are arranged (transposed, column renamed etc.)
f) Finally, all the dataframes are concatenated (not merged) together to create Movie_Source dataframe.
g) The dataframe is then exported to the Movie_Source csv (to be used to create SQL table in Movies&Shows database.

In [1]:
import pandas as pd

Reading Netflix csv into the dataframe

In [2]:
netflix_shows = pd.read_csv("OutputData/NetflixDB.csv")
netflix_shows.head()

,IMDB_id,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,IMDB_rating,RT_rating,Metacritic_rating,Type,Duplicate,Duplicate1
0,tt0381707,White Chicks,2004,PG-13,23 Jun 2004,109 min,"Comedy, Crime",Keenen Ivory Wayans,"Keenen Ivory Wayans, Shawn Wayans, Marlon Wayans","Marlon Wayans, Shawn Wayans, Busy Philipps",English,United States,5.6,15%,41/100,movie,False,False
1,tt0425210,Lucky Number Slevin,2006,R,07 Apr 2006,110 min,"Crime, Drama, Thriller",Paul McGuigan,Jason Smilovic,"Josh Hartnett, Ben Kingsley, Morgan Freeman",English,"United States, Germany, United Kingdom, Canada",7.7,NaN,53/100,movie,False,False
2,tt0413573,Grey's Anatomy,2005–,TV-14,27 Mar 2005,41 min,"Drama, Romance",NaN,Shonda Rhimes,"Ellen Pompeo, Chandra Wilson, James Pickens Jr.",English,United States,7.5,NaN,NaN,series,False,False
3,tt0455275,Prison Break,2005–2017,TV-14,29 Aug 2005,44 min,"Action, Crime, Drama",NaN,Paul T. Scheuring,"Dominic Purcell, Wentworth Miller, Amaury Nolasco","English, Arabic, Spanish","United Kingdom, United States",8.3,NaN,NaN,series,False,False
4,tt0460649,How I Met Your Mother,2005–2014,TV-14,19 Sep 2005,22 min,"Comedy, Romance",NaN,"Carter Bays, Craig Thomas","Josh Radnor, Jason Segel, Cobie Smulders","English, Persian, Chinese",United States,8.3,NaN,NaN,series,False,False

In [3]:
len(netflix_shows)

444

Finding duplicates in Netflix dataframe.

In [4]:
netflix_shows["Duplicate"] = netflix_shows.duplicated(keep = 'first')

In [5]:
netflix_shows["Duplicate"].value_counts()

False    444
Name: Duplicate, dtype: int64

In [6]:
show_ids = netflix_shows["IMDB_id"]
len(show_ids)

444

In [7]:
clean_netflix = show_ids.drop_duplicates()

In [8]:
len(clean_netflix)

444

Creating Netflix Dictionary with source/platform id to be fed to the dataframe.

In [9]:
netflix_dictionary = dict.fromkeys(show_ids,"P01")

In [10]:
netflix_dictionary

{'tt0381707': 'P01',
 'tt0425210': 'P01',
 'tt0413573': 'P01',
 'tt0455275': 'P01',
 'tt0460649': 'P01',
 'tt0460681': 'P01',
 'tt0903747': 'P01',
 'tt1405406': 'P01',
 'tt1520211': 'P01',
 'tt1578873': 'P01',
 'tt1843230': 'P01',
 'tt1475582': 'P01',
 'tt1241317': 'P01',
 'tt0409591': 'P01',
 'tt1703148': 'P01',
 'tt6925620': 'P01',
 'tt2193021': 'P01',
 'tt2085059': 'P01',
 'tt2632424': 'P01',
 'tt2661044': 'P01',
 'tt13056038': 'P01',
 'tt2707408': 'P01',
 'tt3107288': 'P01',
 'tt0216199': 'P01',
 'tt0117571': 'P01',
 'tt4769836': 'P01',
 'tt1734135': 'P01',
 'tt0106881': 'P01',
 'tt4034452': 'P01',
 'tt5580540': 'P01',
 'tt4129870': 'P01',
 'tt5706996': 'P01',
 'tt1837492': 'P01',
 'tt2582576': 'P01',
 'tt6959668': 'P01',
 'tt5893332': 'P01',
 'tt0126805': 'P01',
 'tt6289070': 'P01',
 'tt10207090': 'P01',
 'tt1225901': 'P01',
 'tt0397442': 'P01',
 'tt1266020': 'P01',
 'tt1327801': 'P01',
 'tt0182576': 'P01',
 'tt0452046': 'P01',
 'tt0108778': 'P01',
 'tt1179817': 'P01',
 'tt0368530': 'P01',
 'tt1826940': 'P01',
 'tt1844624': 'P01',
 'tt2372162': 'P01',
 'tt2188671': 'P01',
 'tt3609352': 'P01',
 'tt3205802': 'P01',
 'tt4592410': 'P01',
 'tt3774694': 'P01',
 'tt4635282': 'P01',
 'tt4574334': 'P01',
 'tt6495756': 'P01',
 'tt2948356': 'P01',
 'tt4191580': 'P01',
 'tt2277860': 'P01',
 'tt1700841': 'P01',
 'tt2788732': 'P01',
 'tt4669186': 'P01',
 'tt5155780': 'P01',
 'tt5097050': 'P01',
 'tt5993744': 'P01',
 'tt5505722': 'P01',
 'tt0362270': 'P01',
 'tt0330251': 'P01',
 'tt0496424': 'P01',
 'tt0804503': 'P01',
 'tt0472954': 'P01',
 'tt0904208': 'P01',
 'tt1780441': 'P01',
 'tt1819509': 'P01',
 'tt1632708': 'P01',
 'tt2022170': 'P01',
 'tt2543312': 'P01',
 'tt2486678': 'P01',
 'tt4295140': 'P01',
 'tt4677934': 'P01',
 'tt3032476': 'P01',
 'tt3526078': 'P01',
 'tt4051832': 'P01',
 'tt4973548': 'P01',
 'tt4635276': 'P01',
 'tt5672036': 'P01',
 'tt6333098': 'P01',
 'tt4452688': 'P01',
 'tt4384086': 'P01',
 'tt4094300': 'P01',
 'tt5562056': 'P01',
 'tt5595688': 'P01',
 'tt3810760': 'P01',
 'tt6333104': 'P01',
 'tt3155328': 'P01',
 'tt2195324': 'P01',
 'tt6616074': 'P01',
 'tt6736782': 'P01',
 'tt6963504': 'P01',
 'tt4686862': 'P01',
 'tt0250274': 'P01',
 'tt0840196': 'P01',
 'tt1195935': 'P01',
 'tt0105929': 'P01',
 'tt1615919': 'P01',
 'tt1749004': 'P01',
 'tt2022713': 'P01',
 'tt3398228': 'P01',
 'tt3339966': 'P01',
 'tt0445935': 'P01',
 'tt3566726': 'P01',
 'tt3850214': 'P01',
 'tt4307902': 'P01',
 'tt3273434': 'P01',
 'tt5467814': 'P01',
 'tt4302938': 'P01',
 'tt5347148': 'P01',
 'tt6038584': 'P01',
 'tt4341582': 'P01',
 'tt5030402': 'P01',
 'tt4144332': 'P01',
 'tt4007248': 'P01',
 'tt3159818': 'P01',
 'tt4971144': 'P01',
 'tt4027504': 'P01',
 'tt5580516': 'P01',
 'tt0065198': 'P01',
 'tt6283780': 'P01',
 'tt0479500': 'P01',
 'tt1190689': 'P01',
 'tt1280822': 'P01',
 'tt0238784': 'P01',
 'tt0098067': 'P01',
 'tt1442109': 'P01',
 'tt2056366': 'P01',
 'tt2177489': 'P01',
 'tt1294970': 'P01',
 'tt2431438': 'P01',
 'tt2817246': 'P01',
 'tt3986390': 'P01',
 'tt1226766': 'P01',
 'tt4254242': 'P01',
 'tt5339440': 'P01',
 'tt2081374': 'P01',
 'tt4269746': 'P01',
 'tt4991512': 'P01',
 'tt0139615': 'P01',
 'tt0120484': 'P01',
 'tt0147800': 'P01',
 'tt0077631': 'P01',
 'tt0251127': 'P01',
 'tt0437863': 'P01',
 'tt0462590': 'P01',
 'tt0810900': 'P01',
 'tt1099212': 'P01',
 'tt0327597': 'P01',
 'tt1114677': 'P01',
 'tt0390022': 'P01',
 'tt1579247': 'P01',
 'tt1679235': 'P01',
 'tt0165598': 'P01',
 'tt1094229': 'P01',
 'tt1758772': 'P01',
 'tt1832979': 'P01',
 'tt1702439': 'P01',
 'tt2477230': 'P01',
 'tt2710394': 'P01',
 'tt3986586': 'P01',
 'tt5435008': 'P01',
 'tt0209475': 'P01',
 'tt0221027': 'P01',
 'tt0475293': 'P01',
 'tt0460627': 'P01',
 'tt1197624': 'P01',
 'tt0364845': 'P01',
 'tt0859592': 'P01',
 'tt0972412': 'P01',
 'tt1837642': 'P01',
 'tt1837576': 'P01',
 'tt1915581': 'P01',
 'tt2083383': 'P01',
 'tt2224026': 'P01',
 'tt3231286': 'P01',
 'tt0411008': 'P01',
 'tt0439100': 'P01',
 'tt0758790': 'P01',
 'tt1235099': 'P01',
 'tt0158552': 'P01',
 'tt1358522': 'P01',
 'tt1856010': 'P01',
 'tt1637727': 'P01',
 'tt1758610': 'P01',
 'tt2741602': 'P01',
 'tt2262532': 'P01',
 'tt2288064': 'P01',
 'tt2365946': 'P01',
 'tt3300542': 'P01',
 'tt3520702': 'P01',
 'tt2955402': 'P01',
 'tt4786824': 'P01',
 'tt3467380': 'P01',
 'tt3230780': 'P01',
 'tt2980554': 'P01',
 'tt4428122': 'P01',
 'tt5089786': 'P01',
 'tt0773262': 'P01',
 'tt1103987': 'P01',
 'tt0810788': 'P01',
 'tt1474684': 'P01',
 'tt1600194': 'P01',
 'tt0116830': 'P01',
 'tt1839578': 'P01',
 'tt1821681': 'P01',
 'tt1590961': 'P01',
 'tt2071645': 'P01',
 'tt1688779': 'P01',
 'tt1836037': 'P01',
 'tt2183641': 'P01',
 'tt0460791': 'P01',
 'tt1888075': 'P01',
 'tt6243582': 'P01',
 'tt2427220': 'P01',
 'tt1885102': 'P01',
 'tt3749900': 'P01',
 'tt3551796': 'P01',
 'tt5221584': 'P01',
 'tt3729898': 'P01',
 'tt0120036': 'P01',
 'tt1219289': 'P01',
 'tt5651844': 'P01',
 'tt2375720': 'P01',
 'tt0824779': 'P01',
 'tt0200276': 'P01',
 'tt1595859': 'P01',
 'tt0247882': 'P01',
 'tt2183404': 'P01',
 'tt3488298': 'P01',
 'tt3501074': 'P01',
 'tt0107688': 'P01',
 'tt0267913': 'P01',
 'tt0371606': 'P01',
 'tt1291150': 'P01',
 'tt0458290': 'P01',
 'tt0108526': 'P01',
 'tt1286650': 'P01',
 'tt1142473': 'P01',
 'tt2108482': 'P01',
 'tt3725800': 'P01',
 'tt0852863': 'P01',
 'tt0398417': 'P01',
 'tt0974015': 'P01',
 'tt6025022': 'P01',
 'tt0106064': 'P01',
 'tt1641384': 'P01',
 'tt0096707': 'P01',
 'tt0115319': 'P01',
 'tt2080922': 'P01',
 'tt1659175': 'P01',
 'tt1832789': 'P01',
 'tt2139371': 'P01',
 'tt3322904': 'P01',
 'tt1472584': 'P01',
 'tt2788526': 'P01',
 'tt3692064': 'P01',
 'tt3807022': 'P01',
 'tt5462936': 'P01',
 'tt5272052': 'P01',
 'tt4458404': 'P01',
 'tt1396212': 'P01',
 'tt4189294': 'P01',
 'tt3521854': 'P01',
 'tt3161448': 'P01',
 'tt3040964': 'P01',
 'tt6095472': 'P01',
 'tt2709768': 'P01',
 'tt3562366': 'P01',
 'tt1985949': 'P01',
 'tt4648640': 'P01',
 'tt5127574': 'P01',
 'tt0208185': 'P01',
 'tt0129167': 'P01',
 'tt1699440': 'P01',
 'tt0262151': 'P01',
 'tt0127388': 'P01',
 'tt6963796': 'P01',
 'tt13117332': 'P01',
 'tt1051904': 'P01',
 'tt2999390': 'P01',
 'tt2392179': 'P01',
 'tt0371746': 'P01',
 'tt4962796': 'P01',
 'tt1307510': 'P01',
 'tt3807034': 'P01',
 'tt3441810': 'P01',
 'tt6035850': 'P01',
 'tt3604232': 'P01',
 'tt4763642': 'P01',
 'tt5075942': 'P01',
 'tt5580664': 'P01',
 'tt6591468': 'P01',
 'tt0075925': 'P01',
 'tt5916218': 'P01',
 'tt6332994': 'P01',
 'tt0110366': 'P01',
 'tt0119137': 'P01',
 'tt0120855': 'P01',
 'tt0120917': 'P01',
 'tt0275847': 'P01',
 'tt0331632': 'P01',
 'tt1509767': 'P01',
 'tt0424279': 'P01',
 'tt0395699': 'P01',
 'tt0389790': 'P01',
 'tt0441773': 'P01',
 'tt1105469': 'P01',
 'tt1865769': 'P01',
 'tt1991564': 'P01',
 'tt0487849': 'P01',
 'tt1710177': 'P01',
 'tt4816058': 'P01',
 'tt3040470': 'P01',
 'tt0756522': 'P01',
 'tt2510894': 'P01',
 'tt5193172': 'P01',
 'tt2267968': 'P01',
 'tt5759196': 'P01',
 'tt4938374': 'P01',
 'tt4431254': 'P01',
 'tt2567026': 'P01',
 'tt5846856': 'P01',
 'tt7335104': 'P01',
 'tt11460334': 'P01',
 'tt3270208': 'P01',
 'tt0120587': 'P01',
 'tt0120630': 'P01',
 'tt0338459': 'P01',
 'tt0083564': 'P01',
 'tt6950338': 'P01',
 'tt2224075': 'P01',
 'tt0108847': 'P01',
 'tt2136138': 'P01',
 'tt2644032': 'P01',
 'tt1109624': 'P01',
 'tt0393421': 'P01',
 'tt1236429': 'P01',
 'tt2293640': 'P01',
 'tt0071762': 'P01',
 'tt5235950': 'P01',
 'tt0106611': 'P01',
 'tt0107131': 'P01',
 'tt0118617': 'P01',
 'tt0381971': 'P01',
 'tt1217213': 'P01',
 'tt0233041': 'P01',
 'tt6181728': 'P01',
 'tt4591680': 'P01',
 'tt3691740': 'P01',
 'tt1914371': 'P01',
 'tt0120595': 'P01',
 'tt0120794': 'P01',
 'tt0125454': 'P01',
 'tt0138749': 'P01',
 'tt0120910': 'P01',
 'tt0032455': 'P01',
 'tt0090633': 'P01',
 'tt0119918': 'P01',
 'tt0129924': 'P01',
 'tt0112453': 'P01',
 'tt0233277': 'P01',
 'tt0147926': 'P01',
 'tt0163986': 'P01',
 'tt0197230': 'P01',
 'tt0101329': 'P01',
 'tt0084237': 'P01',
 'tt0465925': 'P01',
 'tt0465997': 'P01',
 'tt0099878': 'P01',
 'tt1461418': 'P01',
 'tt2542490': 'P01',
 'tt0263317': 'P01',
 'tt0105941': 'P01',
 'tt6959614': 'P01',
 'tt2483260': 'P01',
 'tt3468298': 'P01',
 'tt2699588': 'P01',
 'tt3246908': 'P01',
 'tt5762174': 'P01',
 'tt3723780': 'P01',
 'tt11217094': 'P01',
 'tt3700456': 'P01',
 'tt0104254': 'P01',
 'tt0306841': 'P01',
 'tt0382937': 'P01',
 'tt6964236': 'P01',
 'tt0498351': 'P01',
 'tt0186311': 'P01',
 'tt1172587': 'P01',
 'tt0090503': 'P01',
 'tt2289057': 'P01',
 'tt2216314': 'P01',
 'tt0377156': 'P01',
 'tt1524993': 'P01',
 'tt2066048': 'P01',
 'tt6764142': 'P01',
 'tt1756873': 'P01',
 'tt3590338': 'P01',
 'tt6953914': 'P01',
 'tt6850902': 'P01',
 'tt2400433': 'P01',
 'tt6101862': 'P01',
 'tt0093148': 'P01',
 'tt5697572': 'P01',
 'tt0230011': 'P01',
 'tt0344864': 'P01',
 'tt0384696': 'P01',
 'tt0407121': 'P01',
 'tt0401398': 'P01',
 'tt0121164': 'P01',
 'tt6964450': 'P01',
 'tt2123342': 'P01',
 'tt5026458': 'P01',
 'tt0119718': 'P01',
 'tt0109190': 'P01',
 'tt0109287': 'P01',
 'tt0110006': 'P01',
 'tt0301454': 'P01',
 'tt0337812': 'P01',
 'tt0109520': 'P01',
 'tt0097523': 'P01',
 'tt0470982': 'P01',
 'tt1024724': 'P01',
 'tt1381767': 'P01',
 'tt0491603': 'P01',
 'tt1564349': 'P01',
 'tt2566580': 'P01',
 'tt2203143': 'P01',
 'tt4257950': 'P01',
 'tt3462880': 'P01',
 'tt5449296': 'P01',
 'tt6500946': 'P01',
 'tt6780296': 'P01'}

Reading Crackle csv into dataframe

In [11]:
crackle_shows = pd.read_csv("OutputData/crackle.csv")
crackle_shows.head()

,IMDB_id,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,IMDB_rating,RT_rating,Metacritic_rating,Type
0,tt0115082,3rd Rock from the Sun,1996–2001,TV-PG,09 Jan 1996,60 min,"Comedy, Family, Sci-Fi",NaN,"Bonnie Turner, Terry Turner","John Lithgow, Jane Curtin, Kristen Johnston",English,United States,7.7,None,None,series
1,tt0313202,An Angel for May,2002,TV-G,23 Dec 2002,95 min,"Drama, Family, Fantasy",Harley Cokeliss,"Melvin Burgess (based on the novel by), Peter ...","Tom Wilkinson, Charlotte Wakefield, Matthew Be...",English,United Kingdom,7.0,None,None,movie
2,tt0264366,And Never Let Her Go,2001,NaN,01 Apr 2001,200 min,"Crime, Drama, Mystery",Peter Levin,"Adam Greenman (teleplay), Ann Rule (book)","Mark Harmon, Rachel Ward, Kathryn Morris, Stev...",English,United States,6.4,None,None,movie
3,tt0200323,Animal Tales,1997–,NaN,NaN,NaN,NaN,NaN,NaN,"Jennifer Badger, Brian Palermo",English,United States,NaN,None,None,series
4,tt0402619,Awesome Adventures,1998–2015,NaN,NaN,30 min,Documentary,NaN,NaN,"Mystro Clark, Anthony Montgomery",English,United States,6.6,None,None,series

In [12]:
len(crackle_shows)

227

In [13]:
crackle_shows["Duplicate"] = crackle_shows.duplicated(keep = 'first')

In [14]:
crackle_shows["Duplicate"].value_counts()

False    227
Name: Duplicate, dtype: int64

In [15]:
clean_crackle = crackle_shows["IMDB_id"]
len(clean_crackle)

227

Creating Crackle dictionary with source/platform id to be fed to the dataframe

In [16]:
crackle_dictionary = dict.fromkeys(clean_crackle, "P03")
crackle_dictionary

{'tt0115082': 'P03',
 'tt0313202': 'P03',
 'tt0264366': 'P03',
 'tt0200323': 'P03',
 'tt0402619': 'P03',
 'tt0072472': 'P03',
 'tt5539000': 'P03',
 'tt1595680': 'P03',
 'tt0078569': 'P03',
 'tt11213708': 'P03',
 'tt2751074': 'P03',
 'tt0118268': 'P03',
 'tt0138956': 'P03',
 'tt0262150': 'P03',
 'tt0844666': 'P03',
 'tt3887992': 'P03',
 'tt1411664': 'P03',
 'tt0111899': 'P03',
 'tt13399556': 'P03',
 'tt0412536': 'P03',
 'tt0765010': 'P03',
 'tt0956036': 'P03',
 'tt4594334': 'P03',
 'tt0109376': 'P03',
 'tt0938567': 'P03',
 'tt0198079': 'P03',
 'tt0861748': 'P03',
 'tt4298268': 'P03',
 'tt13071248': 'P03',
 'tt0160127': 'P03',
 'tt0283994': 'P03',
 'tt3147692': 'P03',
 'tt0056937': 'P03',
 'tt2198439': 'P03',
 'tt2301501': 'P03',
 'tt4831310': 'P03',
 'tt7350428': 'P03',
 'tt1349084': 'P03',
 'tt0251504': 'P03',
 'tt8713700': 'P03',
 'tt0055667': 'P03',
 'tt3142260': 'P03',
 'tt2372855': 'P03',
 'tt0435566': 'P03',
 'tt2316306': 'P03',
 'tt0106701': 'P03',
 'tt4082744': 'P03',
 'tt0118984': 'P03',
 'tt0052490': 'P03',
 'tt0408381': 'P03',
 'tt6015808': 'P03',
 'tt3216608': 'P03',
 'tt0407384': 'P03',
 'tt0121932': 'P03',
 'tt0046600': 'P03',
 'tt0111958': 'P03',
 'tt1020621': 'P03',
 'tt0478073': 'P03',
 'tt0488262': 'P03',
 'tt2338868': 'P03',
 'tt0247882': 'P03',
 'tt4074374': 'P03',
 'tt10874860': 'P03',
 'tt0072507': 'P03',
 'tt0421099': 'P03',
 'tt0423661': 'P03',
 'tt0255734': 'P03',
 'tt0059992': 'P03',
 'tt0054545': 'P03',
 'tt1094229': 'P03',
 'tt2221679': 'P03',
 'tt0437005': 'P03',
 'tt7645618': 'P03',
 'tt5247284': 'P03',
 'tt0095305': 'P03',
 'tt0086730': 'P03',
 'tt2232345': 'P03',
 'tt0409570': 'P03',
 'tt1354663': 'P03',
 'tt0278504': 'P03',
 'tt0086737': 'P03',
 'tt0069596': 'P03',
 'tt0875948': 'P03',
 'tt0455596': 'P03',
 'tt0983514': 'P03',
 'tt2172103': 'P03',
 'tt1975734': 'P03',
 'tt6998202': 'P03',
 'tt0082971': 'P03',
 'tt0162462': 'P03',
 'tt0292414': 'P03',
 'tt0127385': 'P03',
 'tt1199099': 'P03',
 'tt10305444': 'P03',
 'tt0118401': 'P03',
 'tt0339397': 'P03',
 'tt1579071': 'P03',
 'tt6043648': 'P03',
 'tt1583638': 'P03',
 'tt0108869': 'P03',
 'tt0364844': 'P03',
 'tt0340256': 'P03',
 'tt0496356': 'P03',
 'tt0092410': 'P03',
 'tt0112093': 'P03',
 'tt0112095': 'P03',
 'tt0318236': 'P03',
 'tt1843894': 'P03',
 'tt8870164': 'P03',
 'tt3696748': 'P03',
 'tt6847466': 'P03',
 'tt1826805': 'P03',
 'tt0071030': 'P03',
 'tt0106097': 'P03',
 'tt0387764': 'P03',
 'tt14016778': 'P03',
 'tt2731624': 'P03',
 'tt0937967': 'P03',
 'tt4667610': 'P03',
 'tt0816399': 'P03',
 'tt3222712': 'P03',
 'tt0108903': 'P03',
 'tt13223854': 'P03',
 'tt7156624': 'P03',
 'tt8050858': 'P03',
 'tt4960458': 'P03',
 'tt0257076': 'P03',
 'tt0206951': 'P03',
 'tt2223298': 'P03',
 'tt0879688': 'P03',
 'tt6764646': 'P03',
 'tt1215482': 'P03',
 'tt0028231': 'P03',
 'tt0117589': 'P03',
 'tt1880804': 'P03',
 'tt1586680': 'P03',
 'tt2993138': 'P03',
 'tt0208092': 'P03',
 'tt4693256': 'P03',
 'tt0075584': 'P03',
 'tt0108938': 'P03',
 'tt8629136': 'P03',
 'tt0086807': 'P03',
 'tt5126940': 'P03',
 'tt0083482': 'P03',
 'tt0335438': 'P03',
 'tt5028002': 'P03',
 'tt6904118': 'P03',
 'tt0075590': 'P03',
 'tt8107992': 'P03',
 'tt0088242': 'P03',
 'tt8418214': 'P03',
 'tt0071065': 'P03',
 'tt10609012': 'P03',
 'tt4633680': 'P03',
 'tt1103968': 'P03',
 'tt5592230': 'P03',
 'tt0061240': 'P03',
 'tt0346231': 'P03',
 'tt0108734': 'P03',
 'tt0115148': 'P03',
 'tt0126865': 'P03',
 'tt0096580': 'P03',
 'tt1183569': 'P03',
 'tt0081871': 'P03',
 'tt3543072': 'P03',
 'tt0112025': 'P03',
 'tt0242209': 'P03',
 'tt6086806': 'P03',
 'tt0389121': 'P03',
 'tt0487002': 'P03',
 'tt0050749': 'P03',
 'tt7461200': 'P03',
 'tt0118414': 'P03',
 'tt2597760': 'P03',
 'tt0065333': 'P03',
 'tt0182621': 'P03',
 'tt13057984': 'P03',
 'tt0105151': 'P03',
 'tt0069113': 'P03',
 'tt1914371': 'P03',
 'tt0051308': 'P03',
 'tt0068126': 'P03',
 'tt2084685': 'P03',
 'tt0120053': 'P03',
 'tt3690364': 'P03',
 'tt0164292': 'P03',
 'tt0452573': 'P03',
 'tt1240976': 'P03',
 'tt0046534': 'P03',
 'tt0118513': 'P03',
 'tt0167456': 'P03',
 'tt1217956': 'P03',
 'tt0180254': 'P03',
 'tt0090223': 'P03',
 'tt0785067': 'P03',
 'tt0105690': 'P03',
 'tt1417761': 'P03',
 'tt1101009': 'P03',
 'tt1497609': 'P03',
 'tt11018750': 'P03',
 'tt7520178': 'P03',
 'tt1703925': 'P03',
 'tt5754262': 'P03',
 'tt6056924': 'P03',
 'tt6057002': 'P03',
 'tt4397864': 'P03',
 'tt12129168': 'P03',
 'tt0876219': 'P03',
 'tt0774758': 'P03',
 'tt0092312': 'P03',
 'tt2714046': 'P03',
 'tt11623790': 'P03',
 'tt0075503': 'P03',
 'tt0129117': 'P03',
 'tt6202458': 'P03',
 'tt0240272': 'P03',
 'tt0056775': 'P03',
 'tt0166451': 'P03',
 'tt9723520': 'P03',
 'tt0069620': 'P03',
 'tt0261492': 'P03',
 'tt0419373': 'P03',
 'tt0137311': 'P03',
 'tt0163953': 'P03',
 'tt0169501': 'P03',
 'tt0215446': 'P03'}

In [17]:
columns = ["SourceID"]
for i in range(len(show_ids)):
    df = pd.DataFrame.from_records(netflix_dictionary,columns)

In [18]:
df

,tt0032455,tt0065198,tt0071762,tt0075925,tt0077631,tt0083564,tt0084237,tt0090503,tt0090633,tt0093148,...,tt6925620,tt6950338,tt6953914,tt6959614,tt6959668,tt6963504,tt6963796,tt6964236,tt6964450,tt7335104
SourceID,P01,P01,P01,P01,P01,P01,P01,P01,P01,P01,...,P01,P01,P01,P01,P01,P01,P01,P01,P01,P01

In [19]:
newdf = df.T
newdf

          SourceID
tt0032455      P01
tt0065198      P01
tt0071762      P01
tt0075925      P01
tt0077631      P01
...            ...
tt6963504      P01
tt6963796      P01
tt6964236      P01
tt6964450      P01
tt7335104      P01

[444 rows x 1 columns]

In [20]:
newdf.reset_index(inplace = True)
newdf

         index SourceID
0    tt0032455      P01
1    tt0065198      P01
2    tt0071762      P01
3    tt0075925      P01
4    tt0077631      P01
..         ...      ...
439  tt6963504      P01
440  tt6963796      P01
441  tt6964236      P01
442  tt6964450      P01
443  tt7335104      P01

[444 rows x 2 columns]

Creating Crackle dataframe with list of IMDB_IDs and the platform id.

In [21]:
for i in range(len(clean_crackle)):
    dfcrackle = pd.DataFrame.from_records(crackle_dictionary,columns)

In [22]:
newdfcrackle = dfcrackle.T
newdfcrackle

          SourceID
tt0028231      P03
tt0046534      P03
tt0046600      P03
tt0050749      P03
tt0051308      P03
...            ...
tt8418214      P03
tt8629136      P03
tt8713700      P03
tt8870164      P03
tt9723520      P03

[227 rows x 1 columns]

In [23]:
newdfcrackle.reset_index(inplace = True)
newdfcrackle

         index SourceID
0    tt0028231      P03
1    tt0046534      P03
2    tt0046600      P03
3    tt0050749      P03
4    tt0051308      P03
..         ...      ...
222  tt8418214      P03
223  tt8629136      P03
224  tt8713700      P03
225  tt8870164      P03
226  tt9723520      P03

[227 rows x 2 columns]

Reading Disney Plus csv into a dataframe

In [24]:
disneyplus_shows = pd.read_csv("OutputData/disneyplus.csv")
disneyplus_shows.head()

,IMDB_id,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,IMDB_rating,RT_rating,Metacritic_rating,Type
0,tt0147800,10 Things I Hate About You,1999,PG-13,31 Mar 1999,97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith, William Shakesp...","Heath Ledger, Julia Stiles, Joseph Gordon-Levitt","English, French",United States,7.3,69%,70/100,movie
1,tt7019028,101 Dalmatian Street,2018–2020,TV-Y7,25 Mar 2019,22 min,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis",English,"United Kingdom, United States, Canada",6.3,NaN,NaN,series
2,tt0115433,101 Dalmatians,1996,G,27 Nov 1996,103 min,"Adventure, Comedy, Crime",Stephen Herek,"Dodie Smith, John Hughes","Glenn Close, Jeff Daniels, Joely Richardson","English, Spanish","United States, United Kingdom",5.7,41%,49/100,movie
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,2002,G,21 Jan 2003,74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,United States,5.8,67%,NaN,movie
4,tt0211181,102 Dalmatians,2000,G,22 Nov 2000,100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith, Kristen Buckley, Brian Regan","Glenn Close, Gérard Depardieu, Ioan Gruffudd",English,"United States, United Kingdom, France",4.9,31%,35/100,movie

In [25]:
len(disneyplus_shows)

894

In [26]:
disneyplus_shows["Duplicate"] = disneyplus_shows.duplicated(keep = 'first')

In [27]:
disneyplus_shows["Duplicate"].value_counts()

False    894
Name: Duplicate, dtype: int64

In [28]:
clean_dplus = disneyplus_shows["IMDB_id"]
len(clean_dplus)

894

Creating Disney Plus dictionary with corresponding source/platform id to be fed into the dataframe.

In [29]:
dplus_dictionary = dict.fromkeys(clean_dplus, "P02")
dplus_dictionary

{'tt0147800': 'P02',
 'tt7019028': 'P02',
 'tt0115433': 'P02',
 'tt0324941': 'P02',
 'tt0211181': 'P02',
 'tt1846442': 'P02',
 'tt0046672': 'P02',
 'tt0120623': 'P02',
 'tt12076020': 'P02',
 'tt0113198': 'P02',
 'tt0113538': 'P02',
 'tt0038674': 'P02',
 'tt0282123': 'P02',
 'tt0287003': 'P02',
 'tt1620680': 'P02',
 'tt6139732': 'P02',
 'tt0103639': 'P02',
 'tt0115491': 'P02',
 'tt0107952': 'P02',
 'tt0043274': 'P02',
 'tt1014759': 'P02',
 'tt0417415': 'P02',
 'tt0041112': 'P02',
 'tt0217990': 'P02',
 'tt0055740': 'P02',
 'tt0098740': 'P02',
 'tt0381006': 'P02',
 'tt4622802': 'P02',
 'tt0082017': 'P02',
 'tt0208185': 'P02',
 'tt5195114': 'P02',
 'tt0207972': 'P02',
 'tt9782756': 'P02',
 'tt0327437': 'P02',
 'tt6467274': 'P02',
 'tt0344864': 'P02',
 'tt0230011': 'P02',
 'tt8952294': 'P02',
 'tt1830491': 'P02',
 'tt0499549': 'P02',
 'tt0022647': 'P02',
 'tt0054649': 'P02',
 'tt0034492': 'P02',
 'tt0447854': 'P02',
 'tt8075496': 'P02',
 'tt10219416': 'P02',
 'tt0031086': 'P02',
 'tt0047864': 'P02',
 'tt0101414': 'P02',
 'tt0167038': 'P02',
 'tt0118692': 'P02',
 'tt0317132': 'P02',
 'tt0066817': 'P02',
 'tt0960731': 'P02',
 'tt0047867': 'P02',
 'tt5929776': 'P02',
 'tt0092638': 'P02',
 'tt4507442': 'P02',
 'tt0094739': 'P02',
 'tt7165904': 'P02',
 'tt2245084': 'P02',
 'tt6412478': 'P02',
 'tt1570382': 'P02',
 'tt0062737': 'P02',
 'tt0109287': 'P02',
 'tt7678620': 'P02',
 'tt0029930': 'P02',
 'tt0397892': 'P02',
 'tt0213334': 'P02',
 'tt0395479': 'P02',
 'tt0105958': 'P02',
 'tt2078690': 'P02',
 'tt1217209': 'P02',
 'tt0163986': 'P02',
 'tt7293698': 'P02',
 'tt0162212': 'P02',
 'tt0328880': 'P02',
 'tt0465925': 'P02',
 'tt0430932': 'P02',
 'tt8693362': 'P02',
 'tt1334585': 'P02',
 'tt0294425': 'P02',
 'tt0109369': 'P02',
 'tt1055366': 'P02',
 'tt1252380': 'P02',
 'tt0186910': 'P02',
 'tt0075807': 'P02',
 'tt0033448': 'P02',
 'tt0317219': 'P02',
 'tt1216475': 'P02',
 'tt3606752': 'P02',
 'tt1378121': 'P02',
 'tt1788785': 'P02',
 'tt1378123': 'P02',
 'tt3755836': 'P02',
 'tt2166364': 'P02',
 'tt1330219': 'P02',
 'tt1511164': 'P02',
 'tt3755824': 'P02',
 'tt0090803': 'P02',
 'tt0349205': 'P02',
 'tt0097053': 'P02',
 'tt0033460': 'P02',
 'tt0371606': 'P02',
 'tt0096557': 'P02',
 'tt0039263': 'P02',
 'tt0042332': 'P02',
 'tt0291082': 'P02',
 'tt0465940': 'P02',
 'tt0028726': 'P02',
 'tt2762970': 'P02',
 'tt2380307': 'P02',
 'tt0997047': 'P02',
 'tt0361467': 'P02',
 'tt6244108': 'P02',
 'tt0106611': 'P02',
 'tt8381724': 'P02',
 'tt0043428': 'P02',
 'tt0489007': 'P02',
 'tt2273734': 'P02',
 'tt1090750': 'P02',
 'tt0052722': 'P02',
 'tt0101076': 'P02',
 'tt0049125': 'P02',
 'tt0047977': 'P02',
 'tt1620446': 'P02',
 'tt7775248': 'P02',
 'tt0365109': 'P02',
 'tt5117876': 'P02',
 'tt8022928': 'P02',
 'tt0377770': 'P02',
 'tt7188868': 'P02',
 'tt9695266': 'P02',
 'tt1196141': 'P02',
 'tt0130623': 'P02',
 'tt4456850': 'P02',
 'tt8050740': 'P02',
 'tt1614950': 'P02',
 'tt3856042': 'P02',
 'tt5515212': 'P02',
 'tt4800624': 'P02',
 'tt1376699': 'P02',
 'tt3440298': 'P02',
 'tt4951098': 'P02',
 'tt3602560': 'P02',
 'tt11199552': 'P02',
 'tt2229129': 'P02',
 'tt8115666': 'P02',
 'tt2326087': 'P02',
 'tt1865718': 'P02',
 'tt2996052': 'P02',
 'tt11998854': 'P02',
 'tt1833403': 'P02',
 'tt1044418': 'P02',
 'tt9277788': 'P02',
 'tt3598030': 'P02',
 'tt5118450': 'P02',
 'tt8611524': 'P02',
 'tt0784896': 'P02',
 'tt5439480': 'P02',
 'tt3008594': 'P02',
 'tt3067144': 'P02',
 'tt2341339': 'P02',
 'tt6311972': 'P02',
 'tt2758770': 'P02',
 'tt4488724': 'P02',
 'tt8959856': 'P02',
 'tt1887491': 'P02',
 'tt3793630': 'P02',
 'tt8884364': 'P02',
 'tt7010622': 'P02',
 'tt0088528': 'P02',
 'tt0122815': 'P02',
 'tt0092345': 'P02',
 'tt7642482': 'P02',
 'tt0138967': 'P02',
 'tt0278866': 'P02',
 'tt0756522': 'P02',
 'tt0115269': 'P02',
 'tt0126170': 'P02',
 'tt0465327': 'P02',
 'tt0219854': 'P02',
 'tt0103477': 'P02',
 'tt0923160': 'P02',
 'tt1223236': 'P02',
 'tt2458776': 'P02',
 'tt4629266': 'P02',
 'tt1222815': 'P02',
 'tt0902967': 'P02',
 'tt3660770': 'P02',
 'tt8080302': 'P02',
 'tt1222816': 'P02',
 'tt12100080': 'P02',
 'tt1710295': 'P02',
 'tt0118998': 'P02',
 'tt0240462': 'P02',
 'tt0423642': 'P02',
 'tt10981266': 'P02',
 'tt10055028': 'P02',
 'tt0045696': 'P02',
 'tt0208101': 'P02',
 'tt0032401': 'P02',
 'tt0030069': 'P02',
 'tt0035820': 'P02',
 'tt0038489': 'P02',
 'tt0281905': 'P02',
 'tt0187819': 'P02',
 'tt3593456': 'P02',
 'tt11151654': 'P02',
 'tt0046932': 'P02',
 'tt7823038': 'P02',
 'tt4266692': 'P02',
 'tt3738576': 'P02',
 'tt6141006': 'P02',
 'tt8676618': 'P02',
 'tt7964284': 'P02',
 'tt4743564': 'P02',
 'tt5531466': 'P02',
 'tt0099472': 'P02',
 'tt1537759': 'P02',
 'tt3861390': 'P02',
 'tt7008868': 'P02',
 'tt1455430': 'P02',
 'tt0365149': 'P02',
 'tt0397313': 'P02',
 'tt4549142': 'P02',
 'tt12036052': 'P02',
 'tt0027569': 'P02',
 'tt0058056': 'P02',
 'tt0416716': 'P02',
 'tt7759016': 'P02',
 'tt0072951': 'P02',
 'tt0206511': 'P02',
 'tt10719984': 'P02',
 'tt6279452': 'P02',
 'tt6974848': 'P02',
 'tt0032455': 'P02',
 'tt0120910': 'P02',
 'tt0187635': 'P02',
 'tt0830298': 'P02',
 'tt0030128': 'P02',
 'tt2277860': 'P02',
 'tt0266543': 'P02',
 'tt0116311': 'P02',
 'tt1725902': 'P02',
 'tt0091059': 'P02',
 'tt9536846': 'P02',
 'tt0022899': 'P02',
 'tt0119137': 'P02',
 'tt0248808': 'P02',
 'tt11194650': 'P02',
 'tt11194652': 'P02',
 'tt0113104': 'P02',
 'tt1142977': 'P02',
 'tt0087291': 'P02',
 'tt0076054': 'P02',
 'tt0322330': 'P02',
 'tt7631348': 'P02',
 'tt7775622': 'P02',
 'tt1865368': 'P02',
 'tt2294629': 'P02',
 'tt4520988': 'P02',
 'tt0382142': 'P02',
 'tt0039404': 'P02',
 'tt0286639': 'P02',
 'tt0436339': 'P02',
 'tt0108783': 'P02',
 'tt1835977': 'P02',
 'tt0193187': 'P02',
 'tt0119190': 'P02',
 'tt0322389': 'P02',
 'tt0131409': 'P02',
 'tt0282521': 'P02',
 'tt2543796': 'P02',
 'tt0385726': 'P02',
 'tt0447987': 'P02',
 'tt0399104': 'P02',
 'tt1415889': 'P02',
 'tt1828976': 'P02',
 'tt0103428': 'P02',
 'tt9165706': 'P02',
 'tt0299943': 'P02',
 'tt0025200': 'P02',
 'tt1769803': 'P02',
 'tt0054944': 'P02',
 'tt0074599': 'P02',
 'tt0067172': 'P02',
 'tt0173886': 'P02',
 'tt0414078': 'P02',
 'tt0274761': 'P02',
 'tt0451460': 'P02',
 'tt0493093': 'P02',
 'tt1127884': 'P02',
 'tt1114677': 'P02',
 'tt1222818': 'P02',
 'tt0028981': 'P02',
 'tt0110006': 'P02',
 'tt2746314': 'P02',
 'tt0080861': 'P02',
 'tt0076137': 'P02',
 'tt0071607': 'P02',
 'tt0400497': 'P02',
 'tt0119282': 'P02',
 'tt0475293': 'P02',
 'tt0810900': 'P02',
 'tt0962726': 'P02',
 'tt8510382': 'P02',
 'tt11448424': 'P02',
 'tt0107120': 'P02',
 'tt0311289': 'P02',
 'tt0119303': 'P02',
 'tt0299172': 'P02',
 'tt0116552': 'P02',
 'tt0107131': 'P02',
 'tt0104437': 'P02',
 'tt0097523': 'P02',
 'tt0119310': 'P02',
 'tt0219813': 'P02',
 'tt8390274': 'P02',
 'tt0274557': 'P02',
 'tt5648768': 'P02',
 'tt3098874': 'P02',
 'tt0034873': 'P02',
 'tt0034874': 'P02',
 'tt0036933': 'P02',
 'tt0034875': 'P02',
 'tt2455514': 'P02',
 'tt0155753': 'P02',
 'tt0268380': 'P02',
 'tt5480340': 'P02',
 'tt0396652': 'P02',
 'tt1101237': 'P02',
 'tt12100044': 'P02',
 'tt4664808': 'P02',
 'tt2096673': 'P02',
 'tt0141369': 'P02',
 'tt0301454': 'P02',
 'tt9822474': 'P02',
 'tt7573844': 'P02',
 'tt0445990': 'P02',
 'tt4420110': 'P02',
 'tt0115218': 'P02',
 'tt0837143': 'P02',
 'tt0110157': 'P02',
 'tt0116669': 'P02',
 'tt0455565': 'P02',
 'tt0116683': 'P02',
 'tt7207238': 'P02',
 'tt1865769': 'P02',
 'tt2278028': 'P02',
 'tt0401729': 'P02',
 'tt0942378': 'P02',
 'tt0206064': 'P02',
 'tt1229827': 'P02',
 'tt1647936': 'P02',
 'tt0052948': 'P02',
 'tt0805559': 'P02',
 'tt0271172': 'P02',
 'tt0119432': 'P02',
 'tt0053977': 'P02',
 'tt0068789': 'P02',
 'tt0116756': 'P02',
 'tt1765622': 'P02',
 'tt7979492': 'P02',
 'tt0446724': 'P02',
 'tt1403075': 'P02',
 'tt10704300': 'P02',
 'tt9536832': 'P02',
 'tt0401398': 'P02',
 'tt1957945': 'P02',
 'tt1991564': 'P02',
 'tt8096832': 'P02',
 'tt0048280': 'P02',
 'tt0249677': 'P02',
 'tt0044821': 'P02',
 'tt10167262': 'P02',
 'tt6110430': 'P02',
 'tt9297164': 'P02',
 'tt4855868': 'P02',
 'tt8352934': 'P02',
 'tt5459566': 'P02',
 'tt4283838': 'P02',
 'tt3978590': 'P02',
 'tt3688956': 'P02',
 'tt3014650': 'P02',
 'tt1648204': 'P02',
 'tt0033824': 'P02',
 'tt0486761': 'P02',
 'tt2165933': 'P02',
 'tt0044835': 'P02',
 'tt2964642': 'P02',
 'tt0450455': 'P02',
 'tt0107413': 'P02',
 'tt3920782': 'P02',
 'tt0945571': 'P02',
 'tt0275847': 'P02',
 'tt0364774': 'P02',
 'tt0457993': 'P02',
 'tt0273366': 'P02',
 'tt0029161': 'P02',
 'tt9536836': 'P02',
 'tt10366494': 'P02',
 'tt10276578': 'P02',
 'tt6267732': 'P02',
 'tt0274636': 'P02',
 'tt11898442': 'P02',
 'tt0029188': 'P02',
 'tt7974952': 'P02',
 'tt1305591': 'P02',
 'tt9269852': 'P02',
 'tt4128102': 'P02',
 'tt0112175': 'P02',
 'tt0115215': 'P02',
 'tt0103584': 'P02',
 'tt10863978': 'P02',
 'tt9073748': 'P02',
 'tt9073746': 'P02',
 'tt9073722': 'P02',
 'tt11113964': 'P02',
 'tt11483514': 'P02',
 'tt7728344': 'P02',
 'tt3591568': 'P02',
 'tt0478970': 'P02',
 'tt2395427': 'P02',
 'tt4154796': 'P02',
 'tt1825683': 'P02',
 'tt3498820': 'P02',
 'tt0458339': 'P02',
 'tt1843866': 'P02',
 'tt4154664': 'P02',
 'tt1211837': 'P02',
 'tt2015381': 'P02',
 'tt3896198': 'P02',
 'tt0371746': 'P02',
 'tt1228705': 'P02',
 'tt1300854': 'P02',
 'tt0848228': 'P02',
 'tt0800369': 'P02',
 'tt3501632': 'P02',
 'tt1981115': 'P02',
 'tt7726152': 'P02',
 'tt1722512': 'P02',
 'tt3475734': 'P02',
 'tt7249258': 'P02',
 'tt2455546': 'P02',
 'tt6591446': 'P02',
 'tt4176370': 'P02',
 'tt10163846': 'P02',
 'tt4154858': 'P02',
 'tt3221698': 'P02',
 'tt6603254': 'P02',
 'tt1236246': 'P02',
 'tt6135682': 'P02',
 'tt0058331': 'P02',
 'tt0901686': 'P02',
 'tt0120645': 'P02',
 'tt0396555': 'P02',
 'tt0040580': 'P02',
 'tt2768802': 'P02',
 'tt0047757': 'P02',
 'tt6264782': 'P02',
 'tt0371823': 'P02',
 'tt0035064': 'P02',
 'tt0085936': 'P02',
 'tt0238414': 'P02',
 'tt0027964': 'P02',
 'tt0030448': 'P02',
 'tt0424279': 'P02',
 'tt0120751': 'P02',
 'tt0323250': 'P02',
 'tt3098856': 'P02',
 'tt0366777': 'P02',
 'tt1072755': 'P02',
 'tt0349825': 'P02',
 'tt0157996': 'P02',
 'tt0218440': 'P02',
 'tt3067436': 'P02',
 'tt0039628': 'P02',
 'tt9165688': 'P02',
 'tt3521164': 'P02',
 'tt0250593': 'P02',
 'tt1453405': 'P02',
 'tt0198781': 'P02',
 'tt0273842': 'P02',
 'tt0091566': 'P02',
 'tt0032814': 'P02',
 'tt0032815': 'P02',
 'tt0120762': 'P02',
 'tt0279967': 'P02',
 'tt6337766': 'P02',
 'tt4555736': 'P02',
 'tt0117110': 'P02',
 'tt2281587': 'P02',
 'tt0064705': 'P02',
 'tt0120764': 'P02',
 'tt0805905': 'P02',
 'tt0368891': 'P02',
 'tt0465234': 'P02',
 'tt0043839': 'P02',
 'tt0104990': 'P02',
 'tt6346162': 'P02',
 'tt5097410': 'P02',
 'tt0426568': 'P02',
 'tt5452780': 'P02',
 'tt0976238': 'P02',
 'tt0050798': 'P02',
 'tt0095776': 'P02',
 'tt0026816': 'P02',
 'tt0426148': 'P02',
 'tt10854760': 'P02',
 'tt0055254': 'P02',
 'tt0089731': 'P02',
 'tt0479113': 'P02',
 'tt7651892': 'P02',
 'tt7146812': 'P02',
 'tt0114048': 'P02',
 'tt6091694': 'P02',
 'tt0043890': 'P02',
 'tt0277514': 'P02',
 'tt10583412': 'P02',
 'tt9236264': 'P02',
 'tt1425244': 'P02',
 'tt3116154': 'P02',
 'tt12080904': 'P02',
 'tt0050837': 'P02',
 'tt0076538': 'P02',
 'tt2788732': 'P02',
 'tt0046183': 'P02',
 'tt0280030': 'P02',
 'tt0266850': 'P02',
 'tt0340281': 'P02',
 'tt0852863': 'P02',
 'tt1825918': 'P02',
 'tt2283584': 'P02',
 'tt10855726': 'P02',
 'tt0323642': 'P02',
 'tt0032910': 'P02',
 'tt5613056': 'P02',
 'tt0449088': 'P02',
 'tt0383574': 'P02',
 'tt1298650': 'P02',
 'tt0325980': 'P02',
 'tt11199558': 'P02',
 'tt0393596': 'P02',
 'tt4148744': 'P02',
 'tt0045037': 'P02',
 'tt0045038': 'P02',
 'tt0040698': 'P02',
 'tt0114148': 'P02',
 'tt0143808': 'P02',
 'tt0054195': 'P02',
 'tt0119918': 'P02',
 'tt0407121': 'P02',
 'tt1245104': 'P02',
 'tt5538644': 'P02',
 'tt1196339': 'P02',
 'tt1604171': 'P02',
 'tt0280050': 'P02',
 'tt6688750': 'P02',
 'tt8980868': 'P02',
 'tt0136658': 'P02',
 'tt4341582': 'P02',
 'tt0245380': 'P02',
 'tt0382932': 'P02',
 'tt0494716': 'P02',
 'tt0253550': 'P02',
 'tt0382936': 'P02',
 'tt0265632': 'P02',
 'tt0382937': 'P02',
 'tt0485985': 'P02',
 'tt0093832': 'P02',
 'tt0210945': 'P02',
 'tt0078158': 'P02',
 'tt0816520': 'P02',
 'tt0089908': 'P02',
 'tt0155110': 'P02',
 'tt0323810': 'P02',
 'tt0244764': 'P02',
 'tt0070608': 'P02',
 'tt8053430': 'P02',
 'tt3748528': 'P02',
 'tt0107985': 'P02',
 'tt0436595': 'P02',
 'tt0138068': 'P02',
 'tt3816666': 'P02',
 'tt0353965': 'P02',
 'tt0036326': 'P02',
 'tt0056441': 'P02',
 'tt4661600': 'P02',
 'tt2414212': 'P02',
 'tt0023422': 'P02',
 'tt2140373': 'P02',
 'tt7153434': 'P02',
 'tt6390686': 'P02',
 'tt0031905': 'P02',
 'tt1217213': 'P02',
 'tt1028576': 'P02',
 'tt7848136': 'P02',
 'tt0049733': 'P02',
 'tt8780664': 'P02',
 'tt8879238': 'P02',
 'tt1661326': 'P02',
 'tt7217020': 'P02',
 'tt1629440': 'P02',
 'tt2769458': 'P02',
 'tt0099816': 'P02',
 'tt10225108': 'P02',
 'tt0203268': 'P02',
 'tt0462538': 'P02',
 'tt0105417': 'P02',
 'tt0108147': 'P02',
 'tt1479534': 'P02',
 'tt0053285': 'P02',
 'tt0118466': 'P02',
 'tt0192618': 'P02',
 'tt7103168': 'P02',
 'tt0281373': 'P02',
 'tt0029583': 'P02',
 'tt0069291': 'P02',
 'tt1068284': 'P02',
 'tt0169247': 'P02',
 'tt0031945': 'P02',
 'tt1252374': 'P02',
 'tt5189554': 'P02',
 'tt0081938': 'P02',
 'tt0083481': 'P02',
 'tt0207120': 'P02',
 'tt0197911': 'P02',
 'tt0088161': 'P02',
 'tt6779076': 'P02',
 'tt2930604': 'P02',
 'tt8336340': 'P02',
 'tt0076759': 'P02',
 'tt0121765': 'P02',
 'tt11281500': 'P02',
 'tt0086190': 'P02',
 'tt0121766': 'P02',
 'tt0458290': 'P02',
 'tt1185834': 'P02',
 'tt0080684': 'P02',
 'tt2488496': 'P02',
 'tt2527336': 'P02',
 'tt0120915': 'P02',
 'tt4858674': 'P02',
 'tt1579247': 'P02',
 'tt0019422': 'P02',
 'tt0250754': 'P02',
 'tt0348124': 'P02',
 'tt1245537': 'P02',
 'tt0410696': 'P02',
 'tt0166829': 'P02',
 'tt2999390': 'P02',
 'tt1368151': 'P02',
 'tt4199038': 'P02',
 'tt0033124': 'P02',
 'tt0054357': 'P02',
 'tt0098924': 'P02',
 'tt0111359': 'P02',
 'tt0398286': 'P02',
 'tt5533228': 'P02',
 'tt4902964': 'P02',
 'tt0313680': 'P02',
 'tt0350194': 'P02',
 'tt0257325': 'P02',
 'tt3764966': 'P02',
 'tt2325989': 'P02',
 'tt1845866': 'P02',
 'tt0120317': 'P02',
 'tt0059793': 'P02',
 'tt0300865': 'P02',
 'tt0054594': 'P02',
 'tt0061333': 'P02',
 'tt0106223': 'P02',
 'tt0041094': 'P02',
 'tt0047775': 'P02',
 'tt0047803': 'P02',
 'tt0072653': 'P02',
 'tt0078790': 'P02',
 'tt0065421': 'P02',
 'tt0033356': 'P02',
 'tt1626038': 'P02',
 'tt0203247': 'P02',
 'tt0026094': 'P02',
 'tt0071199': 'P02',
 'tt3691740': 'P02',
 'tt0024886': 'P02',
 'tt0068276': 'P02',
 'tt0088814': 'P02',
 'tt0078869': 'P02',
 'tt2616880': 'P02',
 'tt0274240': 'P02',
 'tt0072728': 'P02',
 'tt0147926': 'P02',
 'tt0071288': 'P02',
 'tt0077305': 'P02',
 'tt0338852': 'P02',
 'tt0800318': 'P02',
 'tt1013542': 'P02',
 'tt0090840': 'P02',
 'tt0499448': 'P02',
 'tt0363771': 'P02',
 'tt0213565': 'P02',
 'tt0065566': 'P02',
 'tt0276033': 'P02',
 'tt0120917': 'P02',
 'tt0327698': 'P02',
 'tt2025690': 'P02',
 'tt9154632': 'P02',
 'tt0082406': 'P02',
 'tt0465997': 'P02',
 'tt0492956': 'P02',
 'tt0080788': 'P02',
 'tt0025184': 'P02',
 'tt0026423': 'P02',
 'tt1979388': 'P02',
 'tt0091149': 'P02',
 'tt0082474': 'P02',
 'tt0388980': 'P02',
 'tt0338094': 'P02',
 'tt0031431': 'P02',
 'tt0116583': 'P02',
 'tt0257778': 'P02',
 'tt9331982': 'P02',
 'tt2136396': 'P02',
 'tt6001956': 'P02',
 'tt0057180': 'P02',
 'tt0317705': 'P02',
 'tt0089385': 'P02',
 'tt0061852': 'P02',
 'tt0283426': 'P02',
 'tt0144262': 'P02',
 'tt1294226': 'P02',
 'tt2565938': 'P02',
 'tt6105098': 'P02',
 'tt0318403': 'P02',
 'tt0120131': 'P02',
 'tt0110357': 'P02',
 'tt0097757': 'P02',
 'tt0240684': 'P02',
 'tt0969647': 'P02',
 'tt0046008': 'P02',
 'tt0306841': 'P02',
 'tt6176812': 'P02',
 'tt10290670': 'P02',
 'tt0064603': 'P02',
 'tt8111088': 'P02',
 'tt0076363': 'P02',
 'tt0066728': 'P02',
 'tt2490352': 'P02',
 'tt0104940': 'P02',
 'tt0079588': 'P02',
 'tt1204342': 'P02',
 'tt4651824': 'P02',
 'tt0165052': 'P02',
 'tt0046125': 'P02',
 'tt1462769': 'P02',
 'tt0029339': 'P02',
 'tt0035148': 'P02',
 'tt0219222': 'P02',
 'tt0246834': 'P02',
 'tt0055277': 'P02',
 'tt0120783': 'P02',
 'tt0024451': 'P02',
 'tt0561332': 'P02',
 'tt0274728': 'P02',
 'tt1836776': 'P02',
 'tt0100409': 'P02',
 'tt0780521': 'P02',
 'tt0093779': 'P02',
 'tt0247638': 'P02',
 'tt0368933': 'P02',
 'tt0293737': 'P02',
 'tt0448090': 'P02',
 'tt0034091': 'P02',
 'tt0816401': 'P02',
 'tt0076618': 'P02',
 'tt0100477': 'P02',
 'tt0102803': 'P02',
 'tt0265662': 'P02',
 'tt0817307': 'P02',
 'tt0111070': 'P02',
 'tt0304669': 'P02',
 'tt0452681': 'P02',
 'tt0313634': 'P02',
 'tt0496386': 'P02',
 'tt0075200': 'P02',
 'tt0053271': 'P02',
 'tt0054307': 'P02',
 'tt0096697': 'P02',
 'tt0078281': 'P02',
 'tt0059742': 'P02',
 'tt0045197': 'P02',
 'tt0166896': 'P02',
 'tt0073760': 'P02',
 'tt1754799': 'P02',
 'tt0426371': 'P02',
 'tt1181917': 'P02',
 'tt1388589': 'P02',
 'tt5653444': 'P02',
 'tt0057546': 'P02',
 'tt0200208': 'P02',
 'tt0038166': 'P02',
 'tt0108333': 'P02',
 'tt0220099': 'P02',
 'tt0027126': 'P02',
 'tt0061135': 'P02',
 'tt0032071': 'P02',
 'tt0256466': 'P02',
 'tt0047642': 'P02',
 'tt0405469': 'P02',
 'tt0025997': 'P02',
 'tt2448374': 'P02',
 'tt6897772': 'P02',
 'tt10196390': 'P02',
 'tt0318850': 'P02',
 'tt0059796': 'P02',
 'tt0301935': 'P02',
 'tt0024660': 'P02',
 'tt0094137': 'P02',
 'tt0098966': 'P02',
 'tt0111419': 'P02',
 'tt0397113': 'P02',
 'tt0107688': 'P02',
 'tt6820324': 'P02',
 'tt0112197': 'P02',
 'tt0096273': 'P02',
 'tt0823671': 'P02',
 'tt1216515': 'P02',
 'tt1216516': 'P02',
 'tt7620568': 'P02',
 'tt0028390': 'P02',
 'tt5116302': 'P02',
 'tt0112302': 'P02',
 'tt0114709': 'P02',
 'tt0120363': 'P02',
 'tt0435761': 'P02',
 'tt1979376': 'P02',
 'tt1850374': 'P02',
 'tt2033372': 'P02',
 'tt1247700': 'P02',
 'tt0043063': 'P02',
 'tt0043067': 'P02',
 'tt0075347': 'P02',
 'tt0133240': 'P02',
 'tt0084827': 'P02',
 'tt1812523': 'P02',
 'tt1104001': 'P02',
 'tt0296251': 'P02',
 'tt0283084': 'P02',
 'tt0033188': 'P02',
 'tt0098536': 'P02',
 'tt8174114': 'P02',
 'tt0282223': 'P02',
 'tt0467421': 'P02',
 'tt1017465': 'P02',
 'tt0080062': 'P02',
 'tt2181679': 'P02',
 'tt1049413': 'P02',
 'tt0211174': 'P02',
 'tt0361089': 'P02',
 'tt10538348': 'P02',
 'tt2171665': 'P02',
 'tt1159961': 'P02',
 'tt0910970': 'P02',
 'tt0045314': 'P02',
 'tt0790781': 'P02',
 'tt0185007': 'P02',
 'tt0103247': 'P02',
 'tt0096438': 'P02',
 'tt2191567': 'P02',
 'tt0096446': 'P02',
 'tt9536850': 'P02',
 'tt2543062': 'P02',
 'tt1449283': 'P02',
 'tt0324572': 'P02',
 'tt0384696': 'P02',
 'tt0042047': 'P02',
 'tt0799922': 'P02',
 'tt1369845': 'P02',
 'tt0772145': 'P02',
 'tt6959706': 'P02',
 'tt1772341': 'P02',
 'tt0247827': 'P02',
 'tt6945708': 'P02',
 'tt0206446': 'P02',
 'tt0153992': 'P02',
 'tt0329783': 'P02',
 'tt1134859': 'P02',
 'tt6878820': 'P02',
 'tt3544734': 'P02',
 'tt0186726': 'P02',
 'tt0271271': 'P02',
 'tt0379060': 'P02',
 'tt2948356': 'P02'}

Creating Disney Plus dataframe with IMDB_IDs and source/platform id.

In [30]:
columns = ["SourceID"]
for i in range(len(clean_dplus)):
    dplus_df = pd.DataFrame.from_records(dplus_dictionary,columns)

In [31]:
dplus_df

,tt0019422,tt0022647,tt0022899,tt0023422,tt0024451,tt0024660,tt0024886,tt0025184,tt0025200,tt0025997,...,tt9277788,tt9297164,tt9331982,tt9536832,tt9536836,tt9536846,tt9536850,tt9695266,tt9782756,tt9822474
SourceID,P02,P02,P02,P02,P02,P02,P02,P02,P02,P02,...,P02,P02,P02,P02,P02,P02,P02,P02,P02,P02

In [32]:
newdplusdf = dplus_df.T
newdplusdf

          SourceID
tt0019422      P02
tt0022647      P02
tt0022899      P02
tt0023422      P02
tt0024451      P02
...            ...
tt9536846      P02
tt9536850      P02
tt9695266      P02
tt9782756      P02
tt9822474      P02

[894 rows x 1 columns]

In [33]:
newdplusdf.reset_index(inplace = True)
newdplusdf

         index SourceID
0    tt0019422      P02
1    tt0022647      P02
2    tt0022899      P02
3    tt0023422      P02
4    tt0024451      P02
..         ...      ...
889  tt9536846      P02
890  tt9536850      P02
891  tt9695266      P02
892  tt9782756      P02
893  tt9822474      P02

[894 rows x 2 columns]

#### The Final Step: Concatenating the dataframes. Merging did not work because that it is used to combine columns while we are focussed on combining the rows.

In [34]:
frames = [newdf, newdfcrackle,newdplusdf]
merged_db = pd.concat(frames,ignore_index=True)

In [35]:
merged_db

          index SourceID
0     tt0032455      P01
1     tt0065198      P01
2     tt0071762      P01
3     tt0075925      P01
4     tt0077631      P01
...         ...      ...
1560  tt9536846      P02
1561  tt9536850      P02
1562  tt9695266      P02
1563  tt9782756      P02
1564  tt9822474      P02

[1565 rows x 2 columns]

In [36]:
merged_db.rename(columns = {'index':'imdb_id','SourceID':'platform_id'},inplace = True)

In [37]:
merged_db.loc[merged_db["imdb_id"] == "tt2948356"]

        imdb_id platform_id
292   tt2948356         P01
1384  tt2948356         P02

In [38]:
merged_db["imdb_id"].nunique()

1517

##### The final step of exporting the contatenated dataframe into MovieSource csv file (to be used to create SQL table)

In [39]:
merged_db.to_csv("OutputData/moviesource.csv", index = False)